/* imagem total do fundo da pagina */
.front {
    background-image: url('imagens/mother-429158_1920.jpg');
    background-attachment: fixed;
    position: relative;
    padding: 0px 0px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

/* máscara do background foto */
.front::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(16, 16, 21, 0.620);
}

/* fim imagem */


/*  navbar */
.navbar-light {
    background-color: #011a47;
}

.icone {
    color: #ffff;
}

.navtitle {
    color: #fff;
}

.navtitle:hover {
    color: #fff;
}

/* fim  navbar */

/* modal estilizacao */

.modtitle {
    background-color: #f1f1f1;
}

.x {
    color: #011a47 !important;
    font-weight: bold !important;
}

.y {
    font-size: small;
    font-weight: bold;
    color: #011a47;
}

.z {
    font-size: small;
    color: #011a47;
}

/* fim modal 1*/


/* inicio modal 2 */

.altmod {

    padding-top: 180px;
}

.tam {
    padding: 0px !important;
}




/* buttons  estilizacao */
.btn-1 {
    font-size: 16px;
    padding: 15px 20px !important;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
    background-color: #011a47 !important;
    border-color: #011a47 !important;
    color: #fff !important;
    text-decoration: ;
}

/* fim buttons estilizacao */



/* estilizacao icon scroll down */
.hb-scroll-btn a {
    color: #fff;
    font-size: 30px;
}

.hb-scroll-btn a:hover {
    color: white;
}

/* fim estilizacao icon scroll down */

/* inicio estilizacao textos */
.sub {
    color: white;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;

}

.textos {
    position: relative;
    text-align: center;
    margin: 50px auto;
    padding-top: 50px;
}

.textos p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 5px;
    max-width: 900px;
    margin: 15px auto;
}

/* fim estilizacao textos */


/* div grid fotos */

.black {
    background-color: #0f0f15;

}

.photo {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 40px;
}


.stl {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.stl:hover {
    color: #011f578c;
}


/* imagens e hover */


.image-fade {
    opacity: 0.2;
    transition: opacity 1s ease-in-out;

}

.image-fade:hover {
    opacity: 1;
    transition: opacity 1s ease-in-out;

}



.alls {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}