
.btn-link{
color: #313438;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 4em/4em;
}
.signup .view{
    border-radius: 6em/4em;

}
.signup{
    background-color: #337ab6 ;
    border-color: #337ab6;
}
.learn{
    border-radius: 50%;

}
.view{
    background-color: #19867c ;
    border-color: #19867c;
    margin-left: 100px;
}

.imagens-objetivos{
    width: 60px;
    height: 60px;
    margin: auto 2% auto 2%;

}
.card-body{
    width: 80%;
    margin-left: 50px;
}
.botao-block{
    height: 13%;
    width: 80%;
    margin-left: 50px;
    text-align-all: center;
    background-color: #19867c ;
    border-color: #19867c;
    margin-bottom: 5px;
}
.pessoa-um{
    height: 60%;
    width: 60%;
    margin-left: 50px;
}

.pessoas{
    height: 70%;
    width: 70%;
    margin-left: 100px;
}
.banner, .objetivos{
    margin-top: 35px;
}
.texto-dois{
    margin-left: 80px;

}
.texto-um{
    margin-left: 50px;
}
.texto-dois{
    margin-right: 50px;
}
.imagem-um{
    width: 70%;
    height: 70%;
    margin-left: 100px;
    margin-top: 25px;
}
.texto-inicial{
  margin-right: 50px;
    margin-left: 50px;
}
.clientes{
    width: 100px;
    height: 100px;
}
.row-rodape{
    background-color: #1f2e4d;
    color: #cccccc;
}
.carousel-indicators li{
    background-color: rgba(47, 136,25, 0.5) ;
     bottom: -40px;
}
.imagem-card{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
.row-atualizacao, .precos{
    margin-left: 15px;
}

