body{
    background-color: #fafafa;
}
.navbar{
    background-color: #fcfafb;
}
.nav-link{
    color: #337ab6;
    font-weight: bold;
    font-size: larger;
}
.imagem-idioma{
    width: 2rem;

}
.botao-idioma{
    height: 40px;
    margin-left: 2px;
    background-color: #fcfafb;
}
.botao-login{
    background-color: #337ab6;
}
.linha-separa-nav{
    background-color: #00649e;
    border: 0;
    align: left;
    width: 100%
}

.texto-inicial, .texto-inicial-title, .texto-inicial-title-dois, .texto-inicial-sub-title{
    margin-right: 50px;
}

.view{
    background-color: hotpink ;
    border-color: hotpink;
    margin-top: 10px;
    height: 40px;
    border-radius: 30px;
    background-clip: padding-box;
}

.imagem-um{
     width: 80%;
     height: 100%;
     margin-left: 100px;
     margin-top: 25px;
 }
.botao-block{
      height: 13%;
      width: 80%;
      margin-left: 50px;
      text-align-all: center;
      background-color: #337ab6 ;
      border-color: #337ab6;
      margin-bottom: 5px;
  }
.texto-um, .texto-um-title, .texto-um-sub-title, .texto-um-paragrafo{
       margin-left: 50px;
   }
.imagem-dois{
       height: 60%;
       width: 60%;
       margin-left: 50px;
   }
.card-body{
    width: 80%;
    margin-left: 50px;
}
.imagem-tres{
     margin-left: 100px;
 }
.banner{
    margin-top: 35px;
}
.imagem-strategy{
    height: 50px;
    width: 50px;
    margin-left: 100px;
}
.imagem-quatro{
    width: 80%;
    height: 80%;
}
.carousel-indicators li{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: -40px;
}
.slide{
   background-color: #f6f6f6;
}
.cliente-um{
    margin-left: 50px;
    margin-top: -5px;
}
.cliente-dois{
    margin-top: 45px;
}
.cliente-tres{
    margin-top: 55px;
    margin-right:50px ;
}
.cliente-quatro{
    margin-right: 11px;
    margin-top: -10px;
}
.grupo-botao{
    margin-top: 70px;
}
.texto-strategy{
    margin-left: 25px;
}
.texto-inicial-title, .texto-inicial-title-dois, .texto-um-title{
    color: #283c5f;
    font-size: 40px;
    margin-bottom: auto;
    font-family: 'Lilita One', cursive;
}
.texto-inicial-sub-title, .texto-um-sub-title{
    margin-bottom: auto;
    color: #4a4a4a;
}
.texto-inicial-paragarafo{
    font-family: 'Thasadith', sans-serif;
    margin-top: 15px;
    font-weight: bold;
}

.texto-inicial-title-dois{
    margin-top: -25px;
}
.texto-inicial-title{
    margin-top: -10px;
}

.bloco-texto-um{
    margin-top: 95px;
}